.chat__container {
  display: flex;
}

.chat__left-panel {
  width: 250px;
  height: 100vh;
  background: $color-secondary;
  position: fixed;
  left: 0;
  overflow-y: auto;
}

.chat__right-panel {
  width: $rightWidth;
  height: 100vh;
  background-color: $color-primary;
  position: fixed;
  right: 0;
}

.chat__input-container {
  width: $rightWidth;
  height: auto;
  padding: 25px 0 25px 25px;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 8px 6px 14px 5px rgba(0,0,0,0.25);

  .input-field {
    margin: 0 auto;
  }
}

.chat__input-col--right {
  width: 100px;

  .button-link {
    font-weight: 700;
  }
}

.chat__input-col--left {
  width: 100%;
}

.chat__avatar-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 30px auto 20px;
  cursor: pointer;
  position: relative;

  &:hover {
    .chat__avatar-mask {
      opacity: 1;
    }
  }
}

.chat__avatar--no-data {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 30px auto 20px;
  position: relative;
  background-color: $bg-noData;
}

.chat__img--no-data {
  opacity: 0;
}

.chat__avatar-mask {
  background-color: rgba(0, 0, 0, 0.72);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  opacity: 0;

  text-align: center;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  transition: opacity .5s ease;

  small {
    color: #b3b3b3;
    margin: auto;
  }
}

.chat__avatar-img {
  width: 120px;
  border-radius: 50%;
}

.chat__username {
  width: 200px;
  margin: 10px auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat__rooms-list {
  padding: 0;
  margin-top: 30px;

  li {
    list-style-type: none;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 100;

    &:not(.chat__room-list--no-data) {
      cursor: pointer;
    }

    &:not(.chat__room-list--no-data):hover {
      background-color: rgba(128, 13, 32, 0.71);
    }

    &:active {
      background-color: #800d20;
    }
  }

  &--selected {
    background-color: #800d20;
  }
}

.chat__room-header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 4px 7px -4px rgba(0, 0, 0, 0.25);

  position: fixed;
  width: calc(100vw - 250px);
  z-index: 10;
}

.chat__room-title {
  margin: 0;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: #858585;
}

.chat__room--no-data {
  width: 50%;
  height: 30px;
  background-color: $color-primary;
  margin: auto;
  border-radius: 4px;
}

.chat__room-list--no-data {
  background: $bg-noData;
  margin: 20px 25px;
  border-radius: 4px;
  padding: 15px!important;

  &:first-child {
    margin-top: 70px;
  }
}

.chat__username--no-data {
  background: $bg-noData;
  margin: auto;
  width: 150px;
  height: 20px;
  border-radius: 4px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -23px;
    width: 100px;
    height: 12px;
    background: $bg-noData;
    border-radius: 4px;
    left: 50%;
    margin-left: -50px;
  }
}

.chat__spinner {
  position: absolute;
  top: 70px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.chat__room-user {
  color: $color-secondary;
}