.login-container {
    background-color: #f7f7f7;
    height: 100vh;
}

.login-header {
    width: 100vw;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.login-header__logo-container {
    width: 174px;
    margin: auto;
}

.login-header__logo {
    width: 174px;
    height: 24px;
    margin: auto;
    background: url('../images/doordash-logo.png') center no-repeat;
    background-size: contain;
    text-indent: -9999px;
    display: flex;
}

.login-box__container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 110px);
}

.login-box__form {
    border-radius: 3px;
    width: 320px;
    height: auto;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    text-align: center;
}

.login-box__container h2 {
  font-size: 24px;
  font-weight: 500;
  color: #404040;
  margin-top: 0;
  margin-bottom: 24px;
}

.login-footer__container {
    width: 100vw;
    padding: 15px 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    font-size: 14px;
    color: #7e7c7c;
    display: flex;
}

.login-footer__left-items, .login-footer__right-items {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.login-footer__logo {
    width: 70px;
    height: 18px;
    background: url('../images/doordash-icon.svg') center no-repeat;
    background-size: contain;
    text-indent: -9999px;
}

.twitter-social {
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    background-size: contain;
    background: url('../images/twitter.svg') center no-repeat;
    margin: 0 8px;
}

.facebook-social {
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    background-size: contain;
    background: url('../images/facebook.svg') center no-repeat;
    margin: 0 8px;
}

.instagram-social {
    text-indent: -9999px;
    overflow: hidden;
    width: 30px;
    height: 30px;
    background-size: contain;
    background: url('../images/instagram.svg') center no-repeat;
    margin: 0 8px;
}