.messages__container {
  padding: 15px 25px;
  overflow-y: scroll;
  margin-top: 97px;
  height: calc(100vh - 220px);
}

.right {
  text-align: right;
  text-align: -webkit-right;
}

.message-bubble-container {
  border-radius: 20px;
  width: 50%;
  margin-bottom: 20px;
  position: relative;
}

.message-bubble {
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  display: inline-block;

  p {
    margin: 0;
  }
}

.messages-column {
  position: relative;
  width: 100%
}

.mine {
  background-color: $color-secondary;
  color: #fff;
  text-align: left;
  margin-bottom: 0;
}

.other {
  background-color: #fff;
}

@media (max-width: 768px) {
  .message-bubble-container {
    width: 75%;
  }
}

// Message bubble tails
.btm-left-in {
  &::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 20px;
    right: auto;
    top: auto;
    bottom: 25px;
    border: 8px solid;
    border-color: #fff transparent transparent #fff;
  }
}