.spinner {
  font-size: 10px;
  text-indent: -9999em;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  background: #ff1940;
  background: linear-gradient(to right, #ff1940 10%, rgba(255, 255, 255, 0) 42%);
  animation: load3 .8s infinite linear;
  transform: translateZ(0);

  &::before {
    width: 50%;
    height: 50%;
    background: #ff1940;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }

  &:after {
    background: #eff1f2;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}